{% extends 'base.html' %}


{% block link_style %}

{% load static %}
<link rel="stylesheet" href="{% static '/user_profile/profile.css' %}" />

{%endblock link_style %}


{% block main_content %}
<div class="main_content">
  <h1>{{ current_user.username }}</h1>
  <h3>Welcome {{ user_profile.first_name }} {{ user_profile.last_name }}</h3>
  <h3>Number of flashcard sets created: {{ set_count }} </h3> 
  <hr>
  
  
  
  
  {% if current_user.is_authenticated %}
    <p><a class="action_button" href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a class="action_button" href="{% url 'login' %}">Log In</a>
  {% endif %}
  
  
  <a  id="delete_button" class="action_button" href="{% url 'accounts:delete_user' %}">Delete Account</a>

</div>

{%endblock main_content%}
